<nav xmlns:sec="http://www.w3.org/1999/xhtml">
  <ul>
    <li sec:authorize="hasRole('ADMIN')"><a href="/employees"><i class="fa-solid fa-user"></i>Employees</a></li>
    <li sec:authorize="hasRole('ADMIN')"><a href="/employees/add"><i class="fa-solid fa-plus"></i>Add employee</a></li>
    <li sec:authorize="hasRole('MANAGER')"><a href="/manage/tables"><i class="fa-solid fa-utensils"></i>Tables</a></li>
    <li sec:authorize="hasRole('HOST')"><a href="/host/accommodation"><i class="fa-solid fa-chair"></i>Accommodation</a></li>
    <li sec:authorize="hasRole('WAITER')"><a href="/service"><i class="fa-solid fa-table-columns"></i>Service</a></li>
    <li sec:authorize="hasRole('WAITER')"><a href="/service/pending"><i class="fa-solid fa-table-columns"></i>Pending tables</a></li>
    <li sec:authorize="hasRole('WAREHOUSE_WORKER')"><a href="/inventory"><i class="fa-solid fa-warehouse"></i>Inventory</a></li>
    <li sec:authorize="hasRole('WAREHOUSE_WORKER')"><a href="/inventory/expiring"><i class="fa-solid fa-warehouse"></i>Expiring items</a></li>
    <li sec:authorize="hasRole('WAREHOUSE_WORKER')"><a href="/inventory/add"><i class="fa-solid fa-plus"></i>Add item</a></li>
    <li>
      <form th:action="@{/auth/logout}" th:method="POST" class="logout-form">
        <button class="logout" type="submit" style="font-family: Arial, sans-serif; font-size: 16px;"><i class="fa-solid fa-right-from-bracket"></i>Logout</button>
      </form>
    </li>
  </ul>
</nav>