<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body class="released-body">
<div class="released-container">
    <h1 style="color: white; margin-bottom: 5px">Hey <span style="color: #00d2ff" sec:authentication="name"></span>! We're having a problem finding this resource!</h1>
    <hr style="width: 100%">
    <a href="/"><button class="error-page-btn">back</button></a>
</div>
</body>
</html>