/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #3d3d3d;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.logo {
    flex-grow: 1;
    text-align: left;
}

.logo img {
    width: 30px;
    height: 30px;
}

.username {
    flex-grow: 1;
    text-align: center;
}

.text {
    flex-grow: 1;
    text-align: right;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Navigation styles */
nav {
    background-color: #333;
    color: #fff;

    height: 100%;
    width: 200px;
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0;
    overflow-y: auto;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.logout {
    padding: 5px;
    text-decoration: none;
    color: #fff;
    border: 0;
    background-color: #333;
}

.logout-form {
    margin: 0;
    padding: 0;
    background-color: #333;
}

.logout-form:hover {
    background-color: #555;
    cursor: pointer;
}

.logout {
    cursor: pointer;
    width: 100%;
    text-align: left;
}

nav a:hover {
    background-color: #555;
}

/* Form styles */
form {
    flex: 1;
    margin-left: 200px;
    overflow-y: auto;
    background-color: #8585858e;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="number"],
select {
    display: block;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.button-save {
    background-color: #ff4800;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}

.button-cook {
    background-color: #ff4800;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    margin: 10px;
}

.button-order {
    background-color: #ff4800;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    margin: 10px;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
}

/* Pages styles */
.fa-solid {
    font-size: 16px;
    color: white;
    padding: 5px;
    margin-right: 5px;
}

.error-field {
    margin-left: 10px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ff7676;
    width: 30%;
    background-color: #484848;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
}

#users-table thead:first-child, .app-table thead:first-child {
    background: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}

#users-table tr:nth-child(even), .app-table tr:nth-child(even) {
    background: #0000003a;
}

#users-table {
    flex: 1;
    margin-left: 200px;
    overflow-y: auto;
    background-color: #8585858e;
    color: #e1e1e1;
}

#users-table tr, .app-table tr {
    height: 40px;
}

.action-cell {
    text-align: center;
}

tr td {
    padding-left: 10px;
}

tr td form button {
    padding: 5px;
    width: 40%;
    box-shadow: 0 0 5px rgb(48, 48, 48);
}

.app-edit {
    background-color: rgb(0, 173, 253);
}

tr td button:hover, .button-order:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.button-delete {
    background-color: rgb(247, 74, 74);
}

.button-save {
    margin-bottom: 10px;
}

.main-content {
    width: 100%;
    height: 100%;
    margin-left: 200px;
}

.restaurant-table-add {
    margin: 20px;
    background-image: linear-gradient(to bottom, #3f3f3f, #252525);
    width: 200px;
    height: 100%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 1);
    display: inline-flex;
    flex-direction: column;
}

.restaurant-table-add:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #2c2c2c, #151515);
}

.restaurant-table {
    margin: 20px;
    background-image: linear-gradient(to bottom, #005672, #003141);
    width: 200px;
    height: 100%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 1);
    display: inline-flex;
    flex-direction: column;
}

.table-number {
    text-align: center;
    color: white;
    font-size: 2em;
    height: 15%;
    margin-top: 10px;
}

.table-img {
    flex-grow: 1;
    margin: 5% 10%;
}

.test-btn {
    height: 70%;
}

.table-seats {
    text-align: center;
    color: white;
    font-size: 1.5em;
    height: 15%;
    margin-bottom: 10px;
}

.btn-accommodate {
    margin: 10px auto;
    width: 80%;
    height: 35px;
    font-size: 1em;
    color: white;
    border-radius: 25px;
    background-color: #2d2d2d;
    border: 1px solid white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 5px;
    text-decoration: none;
}

.btn-accommodate:hover {
    background-color: #838383;
    cursor: pointer;
    border: 1px solid #ff0000;
}

.employee-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.flex-container {
    flex-basis: auto;
    margin: 15px;
}

.products-container {
    flex-basis: 100%;
}

.cook-container {
    display: flex;
    flex-direction: row;
}

.cook-section {
    flex-basis: 50%;
    margin: 10px;
}

.report-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.report-item {
    flex-basis: 20%;
    margin: 0 30px;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.75);
}

.report-item .item-label {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.report-item .item-value {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6em;
}

.report-container {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 20px;
    background-color: #343434;
    border-radius: 25px;
    border: 1px solid #333333;
}

@media only screen and (max-width: 1280px) {
    .flex-container {
        flex-basis: 95%;
    }

    .cook-container {
        flex-direction: column;
    }

    .order-container {
        width: 100%;
    }

    .button-order {
        width: 95%;
    }

    .report-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    .report-item {
        display: flex;
        align-items: center;
        margin: 5px;
    }

    .report-item .item-label {
        flex-grow: 1;
        text-align: left;
        margin-left: 15px;
    }

    .report-item .item-value {
        flex-grow: 1;
        text-align: right;
        margin-right: 15px;
    }
}


.app-table {
    background-color: #8585858e;
    color: #e1e1e1;
}

.pending-tables {
    min-width: 400px;
}

.pending-tables button {
    padding: 5px;
    width: 80%;
    box-shadow: 0 0 5px rgb(48, 48, 48);
}

.my-tables {
    min-width: 400px;
}

.products-table, .status-table {
    width: 100%;
}

.products-table td, th {
    width: 15%;
}

.my-tables button {
    padding: 5px;
    width: 45%;
    box-shadow: 0 0 5px rgb(48, 48, 48);
}

.orders {
    min-width: 600px;
}

.orders button {
    padding: 5px;
    width: 90%;
    box-shadow: 0 0 5px rgb(48, 48, 48);
}

.table-label {
    font-size: 1.5em;
    color: white;
    margin: 15px 0;
}

#appetizers, #desserts, #drinks, #salads {
    display: none;
}

.order-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.74);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 1);
    padding: 15px;
}

.order-table {
    width: 100%;
    margin: 20px;
}

.order-container hr {
    width: 100%;
    margin: 0 auto;
}


