<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Users</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <table id="users-table">
        <thead>
        <tr>
            <th style="width: fit-content">Username</th>
            <th>Role</th>
            <th style="width: fit-content">First name</th>
            <th style="width: fit-content">Last name</th>
            <th style="width: fit-content">Phone number</th>
            <th style="width: fit-content">Hire date</th>
            <th class="action-cell">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="user" th:each="employee : ${employees}">
            <td><span th:text="${employee.username}"/></td>
            <td><span th:text="${employee.role}"/></td>
            <td><span th:text="${employee.firstName}"/></td>
            <td><span th:text="${employee.lastName}"/></td>
            <td><span th:text="${employee.phoneNumber}"/></td>
            <td><span th:text="${employee.hireDate}"/></td>
            <td class="action-cell flex-cell">
                <a th:href="@{/employees/{id}/disable(id=${employee.id})}" th:if="${employee.enabled}" >
                    <button type="button" class="button button-disable">Disable</button>
                </a>
                <a th:href="@{/employees/{id}/enable(id=${employee.id})}" th:if="${employee.enabled == false}">
                    <button type="button" class="button button-enable">Enable</button>
                </a>
                <a th:href="@{/employees/edit/{id}(id=${employee.id})}">
                    <button type="button" class="button app-edit" style="width: 40%">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>