<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <th:block th:insert="~{/fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{/fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{/fragments/navigation}"></th:block>
    <table id="users-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>Hire date</th>
            <th class="action-cell">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="user" th:each="employee : ${employees}">
            <td><span th:text="${employee.username}"/></td>
            <td><span th:text="${employee.role}"/></td>
            <td><span th:text="${employee.firstName}"/></td>
            <td><span th:text="${employee.lastName}"/></td>
            <td><span th:text="${employee.phoneNumber}"/></td>
            <td><span th:text="${employee.hireDate}"/></td>
            <td class="action-cell">
                <button type="button" class="button button-edit">EDIT</button>
                <button type="button" class="button button-delete">DELETE</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
</body>
</html>