<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Users</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="cook-container">
            <div class="cook-section">
                <table class="products-table app-table">
                    <thead>
                    <tr>
                        <th style="width: 10%">Order ID</th>
                        <th style="width: 60%">Name</th>
                        <th class="action-cell" style="width: 30%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 10%">123</td>
                        <td style="width: 60%">Musaka</td>
                        <td class="action-cell" style="width: 30%">
                            <a href="#">
                                <button type="button" class="button button-cook">Start cooking</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="cook-section">
                <table class="products-table app-table">
                    <thead>
                    <tr>
                        <th style="width: 10%">Order ID</th>
                        <th style="width: 60%">Name</th>
                        <th class="action-cell" style="width: 30%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 10%">123</td>
                        <td style="width: 60%">Musaka</td>
                        <td class="action-cell" style="width: 30%">
                            <a href="#">
                                <button type="button" class="button button-cook">Finish cooking</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
</body>
</html>