<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cook</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="cook-container">
            <div class="cook-section">
                <p class="table-label">Ordered items: <span th:unless="${orderedItems.size() > 0}">NONE</span> </p>
                <table class="products-table app-table" th:if="${orderedItems.size() > 0}">
                    <thead>
                    <tr>
                        <th style="width: 10%">Order ID</th>
                        <th style="width: 60%">Name</th>
                        <th class="action-cell" style="width: 30%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${orderedItems}">
                        <td style="width: 10%"><span th:text="${item.orderId}"/></td>
                        <td style="width: 60%"><span th:text="${item.itemName}"/></td>
                        <td class="action-cell" style="width: 30%">
                            <a th:href="@{/cook/start(id=${item.orderedItemId})}">
                                <button type="button" class="button button-cook">Start cooking</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="cook-section">
                <p class="table-label">Cooking items: <span th:unless="${cookingItems.size() > 0}">NONE</span></p>
                <table class="products-table app-table" th:if="${cookingItems.size() > 0}">
                    <thead>
                    <tr>
                        <th style="width: 10%">Order ID</th>
                        <th style="width: 60%">Name</th>
                        <th class="action-cell" style="width: 30%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${cookingItems}">
                        <td style="width: 10%"><span th:text="${item.orderId}"/></td>
                        <td style="width: 60%"><span th:text="${item.itemName}"/></td>
                        <td class="action-cell" style="width: 30%">
                            <a th:href="@{/cook/finish(id=${item.orderedItemId})}">
                                <button type="button" class="button button-cook">Finish cooking</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>