<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Users</title>
    <th:block th:insert="~{/fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{/fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{/fragments/navigation}"></th:block>
    <div style="width: 200px; height: 200px; background-color: #0d6efd; margin-left: 200px">

    </div>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
</body>
</html>