<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tables</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">

        <form th:action="@{/host/accommodation/table}" style="margin: 0; padding: 0">
            <label style="font-size: 1.25em">Search table:</label>
            <input type="number" placeholder="seats" name="seats" th:value="${seats}" min="2" max="5">
            <button type="submit" class="button-save" th:text="SEARCH"/>
        </form>

        <p style="margin: 20px; color: white; font-size: 1.5em; font-weight: bold">Free tables: <span th:if="${tables.size() == 0}">NONE</span></p>
        <div class="restaurant-table" th:each="table : ${tables}">
            <p class="table-number">N-<span th:text="${table.id}"/></p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i><span
                    th:text="${table.seats}"/></div>
            <a class="btn-accommodate"
               th:href="@{/host/accommodate(id=${table.id})}">
                Accommodate
            </a>
        </div>
    </main>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>