<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tables</title>
    <th:block th:insert="~{/fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{/fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{/fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="restaurant-table">
            <p class="table-number">N-1</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>5</div>
        </div>
        <div class="restaurant-table">
            <p class="table-number">N-2</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>3</div>
        </div>
        <div class="restaurant-table">
            <p class="table-number">N-3</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>2</div>
        </div>
        <div class="restaurant-table">
            <p class="table-number">N-4</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>4</div>
        </div>
        <div class="restaurant-table">
            <p class="table-number">N-5</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>5</div>
        </div>
        <div class="restaurant-table">
            <p class="table-number">N-6</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>2</div>
        </div>
        <div class="restaurant-table">
            <p class="table-number">N-7</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>3</div>
        </div>
        <div class="restaurant-table">
            <p class="table-number">N-8</p>
            <img class="table-img" th:src="@{/images/table.png}">
            <div class="table-seats"><i class="fa-solid fa-chair" style="font-size: 0.85em"></i>5</div>
        </div>
        <form id="add-table-form" style="margin: 0; padding: 0; display: inline" th:action="@{/manage/tables/add}" th:method="POST">
            <div class="restaurant-table-add" th:onclick="submitForm()">
                <p class="table-number" style="color: rgba(13,110,253,0)">ID</p>
                <img class="table-img" th:src="@{/images/table-add.png}">
                <div class="table-seats" style="color: rgba(13,110,253,0)">SEATS</div>
            </div>
        </form>
    </main>
</div>
<script>
    function submitForm() {
        document.getElementById("add-table-form").submit();
    }
</script>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
</body>
</html>