<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Statistics</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="report-container" th:each="report : ${reports}">
            <p style="font-size: 1.75em;margin: 20px; color: white; font-weight: bold">Report for: <span th:text="${report.reportDate}"/></p>
            <hr style="margin: 0 20px 20px 20px">
            <div class="report-items">
                <div class="report-item" style="background-color: #e63946">
                    <p class="item-label" style="color: #ffffff;">Product of the day</p>
                    <p class="item-value" style="color: #ffffff"><span th:text="${report.productOfTheDay}"/></p>
                </div>
                <div class="report-item" style="background-color: #f1faee">
                    <p class="item-label" style="color: black;">Most used table</p>
                    <p class="item-value" style="color: #000000">N-<span th:text="${report.mostUsedTable}"/></p>
                </div>
                <div class="report-item" style="background-color: #a8dadc">
                    <p class="item-label" style="color: black;">Employee of the day</p>
                    <p class="item-value" style="color: #000000"><span th:text="${report.employeeOfTheDay}"/></p>
                </div>
                <div class="report-item" style="background-color: #457b9d">
                    <p class="item-label" style="color: #ffffff;">Turnover</p>
                    <p class="item-value" style="color: #ffffff">$<span th:text="${report.dailyTurnover}"/></p>
                </div>
                <div class="report-item" style="background-color: #1d3557">
                    <p class="item-label" style="color: #ffffff;">Pure Profit</p>
                    <p class="item-value" style="color: #ffffff">$<span th:text="${report.dailyPureProfit}"/></p>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>