<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistics</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="report-container">
            <div style="margin: 15px; color: white" th:object="${stats}">
                <p style="color: #008cff"><h1>Interesting Stats</h1></p>
                <p class="stat">Employees: <span class="stat-color" th:text="*{employees}"></span></p>
                <p class="stat">Tables: <span class="stat-color" th:text="*{tables}"></span></p>
                <p class="stat">Menu items: <span class="stat-color" th:text="*{menuItems}"></span></p>
                <p class="stat">Orders: <span class="stat-color" th:text="*{orders}"></span></p>
                <p class="stat">Wasted items: <span class="stat-color" th:text="*{waistedItems}"></span></p>
                <p class="stat">Value of waisted products: <span class="stat-color" th:text="*{'$' + waistedItemsValue}"></span></p>
                <p class="stat">Total turnover: <span class="stat-color" th:text="*{'$' + totalTurnover}"></span></p>
                <p class="stat">Total profit: <span class="stat-color" th:text="*{'$' + totalProfit}"></span></p>
            </div>
        </div>
    </main>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>