<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Statistics</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="report-container">
            <p style="margin: 20px; color: white; font-weight: bold">Report for: 25/10/2023</p>
            <hr style="margin: 0 20px 20px 20px">
            <div class="report-items">
                <div class="report-item" style="background-color: #e63946">
                    <p class="item-label" style="color: #ffffff;">Product of the day</p>
                    <p class="item-value" style="color: #ffffff">Coca-Cola</p>
                </div>
                <div class="report-item" style="background-color: #f1faee">
                    <p class="item-label" style="color: black;">Most used table</p>
                    <p class="item-value" style="color: #000000">N-2</p>
                </div>
                <div class="report-item" style="background-color: #a8dadc">
                    <p class="item-label" style="color: black;">Employee of the day</p>
                    <p class="item-value" style="color: #000000">Dimitar Todorov</p>
                </div>
                <div class="report-item" style="background-color: #457b9d">
                    <p class="item-label" style="color: #ffffff;">Turnover</p>
                    <p class="item-value" style="color: #ffffff">$50</p>
                </div>
                <div class="report-item" style="background-color: #1d3557">
                    <p class="item-label" style="color: #ffffff;">Pure Profit</p>
                    <p class="item-value" style="color: #ffffff">$25</p>
                </div>
            </div>
        </div>
    </main>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
</body>
</html>