<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Service</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="employee-container">
            <div class="flex-container">
                <p class="table-label my-tables">My tables: </p>
                <table class="my-tables app-table">
                    <thead>
                    <tr>
                        <th style="width: 15%">Table</th>
                        <th class="">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user" th:each="order : ${userOrders}">
                        <td>N-<span th:text="${order.tableId}"></span></td>
                        <td class="action-cell">
                            <form style="margin: 0; padding: 0; background-color: rgba(255,255,255,0)">
                                <a th:href="@{/service/{orderId}/add(orderId=${order.orderId})}">
                                    <button type="button" class="button app-edit">Add food / drink</button>
                                </a>
                                <a th:href="@{/service/close(orderId=${order.orderId})}">
                                    <button type="button" class="button app-edit"
                                            th:disabled="${order.canBeClosed eq true}">Complete order
                                    </button>
                                </a>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex-container">
                <p class="table-label my-tables">Orders: </p>
                <table class="orders app-table">
                    <thead>
                    <tr>
                        <th style="width: 15%">Table</th>
                        <th>ITEM NAME</th>
                        <th class="">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user" th:each="orderedItem: ${orderedItems}">
                        <td>N-<span th:text="${orderedItem.tableId}"></span></td>
                        <td><span th:text="${orderedItem.menuItemName}"></span></td>
                        <td class="action-cell">
                            <a th:href="@{/service/serve(id=${orderedItem.orderedItemId})}">
                                <button type="button" class="button app-edit">Serve</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
</body>
</html>