<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add to order</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <form th:action="@{/service/{orderId}/add(orderId=${orderId})}" th:method="POST">
        <div class="form-group">
            <label for="itemId">Product:</label>
            <select id="itemId" name="itemId">
                <option value="" selected>Select menu item</option>
                <optgroup th:each="type : ${availableMenuItems}"
                          th:attr="label=${type.getKey()}, title=${type.getKey()}">
                    <option th:each="item : ${type.getValue()}" th:text="${item.name}" th:value="${item.id}"></option>
                </optgroup>
            </select>
        </div>
        <button type="submit" class="button-save">ADD</button>
    </form>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
<script type="text/javascript" src="/js/addItemToOrderErrorStylize.js"></script>
</body>
</html>