<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add to order</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <form th:action="@{/service/{orderId}/add(orderId=${orderId})}" th:method="POST">
        <div class="form-group">
            <p style="font-size: 2em; margin:10px; color: white">Order items for table <span style="color: #333232" th:text="${'N-' + orderId}"></span></p>
            <hr>
            <label for="itemId">Item:</label>
            <select id="itemId" name="itemId">
                <option value="" selected>Select menu item</option>
                <optgroup th:each="type : ${availableMenuItems}"
                          th:attr="label=${type.getKey()}, title=${type.getKey()}">
                    <option th:each="item : ${type.getValue()}" th:text="${item.name}" th:value="${item.id}"></option>
                </optgroup>
            </select>
        </div>
        <button type="submit" class="button-save">ADD</button>
    </form>
    <div th:if="${addedItem != null}"><span th:text="${addedItem}"></span></div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
<script type="text/javascript" src="/js/addItemToOrderErrorStylize.js"></script>
</body>
</html>