<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Service</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <p style="color: white; margin: 15px; font-size: 2em" th:if="${userOrders.isEmpty()}">Coffee time!</p>
        <div class="employee-container" th:if="${userOrders.size() > 0 || orderedItems.size() > 0}">
            <div class="flex-container">
                <p class="table-label my-tables">My tables: <span th:unless="${userOrders.size() > 0}">NONE</span></p>
                <table class="my-tables app-table" th:if="${userOrders.size() > 0}">
                    <thead>
                    <tr>
                        <th>Table</th>
                        <th  style="width: 70%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user" th:each="order : ${userOrders}">
                        <td>N-<span th:text="${order.tableId}"></span></td>
                        <td class="action-cell" style="width: 70%">
                                <a th:href="@{/service/{orderId}/add(orderId=${order.orderId})}">
                                    <button type="button" class="button app-edit">Add item</button>
                                </a>
                                <a th:href="@{/service/preview(orderId=${order.orderId})}">
                                    <button type="button" class="button app-edit" id="addItemButton"
                                            th:disabled="${order.canBeClosed eq true}">Complete order
                                    </button>
                                </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex-container">
                <p class="table-label my-tables">Orders: <span th:unless="${orderedItems.size() > 0}">NONE</span></p>
                <table class="orders app-table" th:if="${orderedItems.size() > 0}">
                    <thead>
                    <tr>
                        <th style="width: 15%">Table</th>
                        <th>ITEM NAME</th>
                        <th class="">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user" th:each="orderedItem: ${orderedItems}">
                        <td>N-<span th:text="${orderedItem.tableId}"></span></td>
                        <td><span th:text="${orderedItem.menuItemName}"></span></td>
                        <td class="action-cell">
                            <a th:href="@{/service/serve(id=${orderedItem.orderedItemId})}">
                                <button type="button" class="button app-edit">Serve</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>