<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Inventory</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="employee-container">
            <div class="flex-container">
                <p class="table-label my-tables">Dishes: </p>
                <table class="my-tables app-table">
                    <thead>
                    <tr>
                        <th style="width: 15%">Table</th>
                        <th class="">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user" th:each="tableId : ${usedTables}">
                        <td>N-<span th:text="${tableId}"></span></td>
                        <td class="action-cell">
                            <form style="margin: 0; padding: 0; background-color: rgba(255,255,255,0)">
                                <a th:href="@{/service/{tableId}/add(tableId=${tableId})}"> <button type="button" class="button app-edit">Add food / drink</button></a>
                                <button type="button" class="button app-edit">Complete order</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
</body>
</html>