<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Inventory</title>
    <th:block th:insert="~{fragments/head-content}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/header}"></th:block>
<div class="container">
    <th:block th:insert="~{fragments/navigation}"></th:block>
    <main class="main-content">
        <div class="employee-container">
            <select id="menuItems">
                <option value="dishes">Dishes</option>
                <option value="appetizers">Appetizers</option>
                <option value="desserts">Desserts</option>
                <option value="drinks">Drinks</option>
                <option value="salads">Salads</option>
            </select>
            <div class="products-container" id="dishes">
                <p class="table-label">Dishes: <span th:if="${dishes.size() == 0}">NONE</span></p>
                <table class="products-table app-table" th:if="${dishes.size() > 0}">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Purchase price</th>
                        <th>Sale price</th>
                        <th>Quantity</th>
                        <th>Expiry date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menuItem : ${dishes}" th:object="${menuItem}" class="user">
                        <td><span th:text="*{name}"/></td>
                        <td><span th:text="*{type}"/></td>
                        <td><span th:text="*{purchasePrice}"/></td>
                        <td><span th:text="*{salePrice}"/></td>
                        <td><span th:text="*{currentQuantity}"/>/<span th:text="*{purchasedQuantity}"/></td>
                        <td><span th:text="*{expiryDate}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="products-container" id="appetizers">
                <p class="table-label">Appetizers: <span th:if="${appetizers.size() == 0}">NONE</span></p>
                <table class="products-table app-table" th:if="${appetizers.size() > 0}">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Purchase price</th>
                        <th>Sale price</th>
                        <th>Quantity</th>
                        <th>Expiry date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menuItem : ${appetizers}" th:object="${menuItem}" class="user">
                        <td><span th:text="*{name}"/></td>
                        <td><span th:text="*{type}"/></td>
                        <td><span th:text="*{purchasePrice}"/></td>
                        <td><span th:text="*{salePrice}"/></td>
                        <td><span th:text="*{currentQuantity}"/>/<span th:text="*{purchasedQuantity}"/></td>
                        <td><span th:text="*{expiryDate}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="products-container" id="desserts">
                <p class="table-label">Desserts: <span th:if="${desserts.size() == 0}">NONE</span></p>
                <table class="products-table app-table" th:if="${desserts.size() > 0}">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Purchase price</th>
                        <th>Sale price</th>
                        <th>Quantity</th>
                        <th>Expiry date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menuItem : ${desserts}" th:object="${menuItem}" class="user">
                        <td><span th:text="*{name}"/></td>
                        <td><span th:text="*{type}"/></td>
                        <td><span th:text="*{purchasePrice}"/></td>
                        <td><span th:text="*{salePrice}"/></td>
                        <td><span th:text="*{currentQuantity}"/>/<span th:text="*{purchasedQuantity}"/></td>
                        <td><span th:text="*{expiryDate}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="products-container" id="drinks">
                <p class="table-label">Drinks: <span th:if="${drinks.size() == 0}">NONE</span></p>
                <table class="products-table app-table" th:if="${drinks.size() > 0}">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Purchase price</th>
                        <th>Sale price</th>
                        <th>Quantity</th>
                        <th>Expiry date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menuItem : ${drinks}" th:object="${menuItem}" class="user">
                        <td><span th:text="*{name}"/></td>
                        <td><span th:text="*{type}"/></td>
                        <td><span th:text="*{purchasePrice}"/></td>
                        <td><span th:text="*{salePrice}"/></td>
                        <td><span th:text="*{currentQuantity}"/>/<span th:text="*{purchasedQuantity}"/></td>
                        <td><span th:text="*{expiryDate}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="products-container" id="salads">
                <p class="table-label">Salads: <span th:if="${salads.size() == 0}">NONE</span></p>
                <table class="products-table app-table" th:if="${salads.size() > 0}">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Purchase price</th>
                        <th>Sale price</th>
                        <th>Quantity</th>
                        <th>Expiry date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menuItem : ${salads}" th:object="${menuItem}" class="user">
                        <td><span th:text="*{name}"/></td>
                        <td><span th:text="*{type}"/></td>
                        <td><span th:text="*{purchasePrice}"/></td>
                        <td><span th:text="*{salePrice}"/></td>
                        <td><span th:text="*{currentQuantity}"/>/<span th:text="*{purchasedQuantity}"/></td>
                        <td><span th:text="*{expiryDate}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div >
        </div>
    </main>
</div>
<footer>
    <p>&copy; 2023 My Page</p>
</footer>
<script type="text/javascript" src="/js/inventoryUtils.js"></script>
</body>
</html>